<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- APP SETTINGS-->
  <!-- UpdateTime: Determines how long to wait in between each iteration of the main program loop, in milliseconds. Raise it for less CPU/memory strain, lower it for faster updating of values.-->
  <!-- VerboseLogging: Determines whether to be extra detailed in logging program events, or just the main events.-->
  <!-- X/Y/ZLessKey: Determines what key should be held to decrease whatever X/Y/Z value is currently relevant in the game.-->
  <!-- X/Y/ZMoreKey: Determines what key should be held to increase whatever X/Y/Z value is currently relevant in the game.-->
  <!-- X/Y/ZSpeed: Determines how much to increase/decrease the X/Y/Z value by whenever the X/Y/ZHotkeyLess or X/Y/ZHotkeyMore keys are pressed.-->
  <!-- CheckPositionKey: Hotkey for displaying the currently stored position for teleports.-->
  <!-- SetPositionKey: Hotkey for setting current position for later teleports.-->
  <!-- TeleportKey: Hotkey for teleporting to stored position.-->
  <appSettings>
    <add key="UpdateTime" value="25" />
    <add key="VerboseLogging" value="true" />
    <add key="HotkeyEnabled" value="true" />
    <add key="XLessKey" value="Q" />
    <add key="XMoreKey" value="E" />
    <add key="XSpeed" value="10" />
    <add key="YLessKey" value="U" />
    <add key="YMoreKey" value="I" />
    <add key="YSpeed" value="50" />
    <add key="ZLessKey" value="J" />
    <add key="ZMoreKey" value="K" />
    <add key="ZSpeed" value="10" />
    <add key="CheckPositionKey" value="B"/>
    <add key="SetPositionKey" value="N"/>
    <add key="TeleportKey" value="M"/>
  </appSettings>
</configuration>